.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  text-transform: none;
  font-family: "Alfa Slab One";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 6rem;
  letter-spacing: normal;
  margin: 174px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Alfa Slab One";
  animation-timing-function: linear;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.375rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 150px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 1;
  margin: 50px auto -125px;
  padding: 12px 73px 12px 72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-top: -3px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-bottom: -126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -70px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -123px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -229px;
  }
}